<!DOCTYPE html>

{% extends 'base.html' %}

{% block container %}

<html>
  <head>
    <title>Delete User</title>
    <link
      rel="stylesheet"
      href="/static/css/delete-user.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="confirmation-message-container">
        <span class="confirmation-message">{{q_message}}</span>
      </div>

      <div class="userinfo-container">
        <div class="user-avatar-container">
          <div class="user-avatar">
            <div class="placeholder">Picture</div>
          </div>
        </div>
        <div class="user-details-container">
          <p class="info-text">Username: {{username}}</p>
          <p class="info-text">Email: {{email}}</p>
        </div>
      </div>

      <div class="confirmation-button-container">
        <form action="{{ url_for('user_management.confirm_delete_user', user_name=username) }}" method="post">
          <button type="submit">Yes</button>
        </form>
        <button>
          <nav>
            <a href="{{ url_for('user_management.get_all_users') }}">No</a>
          </nav>
        </button>
      </div>
    </div>
  </body>
</html>

{% endblock %}